body	{
  background-color: #ffffff;
  color:            #505050;
}
header {
  padding:          5px 15px 8px 15px;
  background-color: #bebebe;
  font-size:        30px;
}
p 	{
  line-height:      0.25;
}
h1  {
  font-size:        18px;
  
}
h2  {
  font-size:        14px;

}
h3  {
  font-size:        12px;
}
a	{
  color:            #000000;
  font-size:        1.5em;
}
span	{
	display:          inline;
}
footer	{ 
  padding:          5px 15px 8px 15px;
  background-color: #bebebe;
  font-size:        10px;
  text-align:       center;
  word-spacing:     0.5px;
  letter-spacing:   1px;
}
#line	{
  display:          inline;
}
#lineblock	{
  display:          inline-block;
}
#content	{
  border-radius:    10px;
  padding:          5px 15px 8px 15px;
  background-color: #add8e6;
}
