body	{
	background-color:#f8f8f8;
	text-align:left;
	color: #505050;
	line-height: .5;
	padding: 8px;
	white-space: nowrap;
}
h1	{
	font-size:35px;
	word-spacing: 2px;
	letter-spacing: 1px;
}
h2	{
	font-size:18px;
	font-weight: 450;
	letter-spacing: 0.5px;
	background-color: #f8f8f8;
	padding: 4%;
	border-radius:10px;
}
p 	{
	line-height: 0.25;
}
a	{
	color: #000000;
}
span	{
	display: inline;
}
select	{
	border: none;
	border-radius: 4px;
	background-color: #f8f8f8;
	padding: 3%; 
	padding-left: 6%;
	padding-right: 6%;
}
button	{
	border: none;
	border-radius: 4px;
	background-color: #f8f8f8;
	padding: 10%; 
	margin-left: 10px;
}
#line	{
	display: inline;
}
#lineblock	{
	display: inline-block;
}
#content	{
	background-color:#add8e6;
	padding: 5px 15px 8px 15px;
	border-radius:10px;
	
}
#footer	{ 
	font-size:10px;
	word-spacing: 0.5px;
	letter-spacing: 1px;
	text-align: center;
}
